<!DOCTYPE html>
<html>
  <head>
    <title>NiftySort</title>
    <link rel='stylesheet' href='https://bootswatch.com/lumen/bootstrap.min.css'/> <!-- eventually bower -->
    <link rel='stylesheet' href='/css/style.css'/>
 
    <script src="http://code.highcharts.com/adapters/standalone-framework.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="/bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
  </head>
  <body ng-app="myApp">

    <ui-view></ui-view>

    <script src="/js/bundle.js"></script>
  </body>
</html>
