<!DOCTYPE html>
<html>
  <head>
    <title>NiftySort</title>
  	<meta name="viewport" content="user-scalable=yes" />
    <link rel='stylesheet' href='//bootswatch.com/lumen/bootstrap.min.css'/> <!-- eventually bower -->
    <link href='https://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/bower_components/angularjs-slider/dist/rzslider.css"/>
    <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="//code.highcharts.com/adapters/standalone-framework.js"></script>
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <!-- <script src="/animate/HYPE-458.thin.min.js"></script> -->
    <script src="/base_hype_generated_script.js"></script>

  </head>
  <body ng-app="myApp">

    <ui-view></ui-view>

    <script src="/js/bundle.js"></script>
  </body>
</html>
