<hr>

<div class="container">

  <form ng-submit="getCategory()" class="form-inline ">
    <div class="form-group overlayWrapper">
      <!-- <h4>Enter Category</h4> -->
      <input class="form-control categoryOverlay1" type="text" placeholder="{{autoComplete}}">
      <input class="form-control categoryOverlay2" ng-model="searchCategory" ng-keyup="autoFill(searchCategory)" type="text" >
    	<button class="form-control btn btn-success" type='submit'>Find Category</button>
    </div>
  </form>

  <form ng-submit="getGraph()" class="form-inline " ng-show="category">
    <div class="form-group">
      <h4>Category: {{ category.name }}</h4>
      <input class="form-control" ng-model="attribute" type="text" placeholder="attribute">
    	<button class="btn btn-success" type='submit'>GraphIt!</button>
    </div>
  </form>

  <nvd3 options="options" data="data"></nvd3>

</div>
