

<div class="header-bg"><img src="/img/header-abstract.svg" id="header-bg-logo"><img src="/img/test.svg" class="header-gradient"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <div class="row">
        <div class="col-md-12">
          <div class="header-block">
            <div class="logo-block"><img src="/img/white-logo.svg" id="white-logo">
              <div id="brand-top">Nifty Sort</div>
            </div>
            <div id="query-input-contain">
              <textarea placeholder="lightweight durable headphones under $300" id="user-query" autofocus=""></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div class="row">
        <div class="col-md-12">
          <div id="chart-contain">
            <!-- <img class="img-responsive graph" src="/img/graph-placeholder.png"> -->
            <!-- <highchart id="chart1" config="chartConfig"></highchart> -->
            <div id="container"></div>
            <button ng-click="changeData()">test</button>
            <button class="asinButton" data-asin="100" ng-click="renderTest()" >100</button>
            <button class="asinButton" data-asin="90" ng-click="renderTest()">90</button>
            <button class="asinButton" data-asin="80" ng-click="renderTest()">80</button>
            <button class="asinButton" data-asin="70" ng-click="renderTest()">70</button>
            <button class="asinButton" data-asin="60" ng-click="renderTest()">60</button>
            <button class="asinButton" data-asin="50" ng-click="renderTest()">50</button>
            <button class="asinButton" data-asin="40" ng-click="renderTest()">40</button>
            <button class="asinButton" data-asin="30" ng-click="renderTest()">30</button>
            <button class="asinButton" data-asin="20" ng-click="renderTest()">20</button>
            <button class="asinButton" data-asin="10" ng-click="renderTest()">10</button>

            <div id="left-top-label"><span class="hidden-md hidden-lg graph-label-text">PERFECT! </span><span class="hidden-xs hidden-sm graph-label-text" id="white-text">PERFECT! </span></div>
            <div id="left-midde-label"><img class="hidden-xs hidden-sm" src="/img/vert-line-arrow.svg" id="vert-line"></div>
            <div id="left-bottom-label"><span class="graph-label-text">JUST OK</span></div>
            <div id="bottom-left-label"><span id="no-float" class="graph-label-text">EXPENSIVE </span></div>
            <div id="bottom-middle-label"><img class="hidden-xs hidden-sm" src="/img/vert-line-arrow.svg" id="horiz-line"></div>
            <div id="bottom-right-label"><span class="graph-label-text">CHEAP! </span></div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12">
          <div id="test1"></div>
        </div>
      </div> -->
    </div>
  </div>






  <form ng-submit="getCategory()" class="form-inline ">
    <div class="form-group overlayWrapper">

      <input class="form-control categoryOverlay1" type="text" placeholder="{{autoComplete}}">
      <input class="form-control categoryOverlay2" ng-model="searchCategory" ng-keyup="autoFill(searchCategory)" type="text" >
      <button class="form-control btn btn-success" type='submit'>Find Category</button>
    </div>
  </form>

  <form ng-submit="getGraph()" class="form-inline " ng-show="category">
    <div class="form-group">
      <h4>Category: {{ category.name }}</h4>
      <input class="form-control" ng-model="attribute" type="text" placeholder="attribute">
      <button class="btn btn-success" type='submit'>GraphIt!</button>
    </div>
  </form>



</div>
