<div id="sticky-test" class="override-height">
  <div class="header-bg"><img src="img/header-abstract.svg" id="header-bg-logo"><img src="img/test.svg" class="header-gradient"></div>
  <div class="container override-height">
    <div class="row override-height">
      <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <div class="row">
          <div class="col-md-12">
            <div class="header-block-mobile">
              <div class="logo-block-mobile"><img src="img/white-logo.svg" id="white-logo-mobile">
                <div id="brand-top-mobile">Nifty Sort</div>
              </div>
              <div id="query-input-contain-mobile">

                <form ng-submit="getCategory()" class="form-inline " autocomplete="off" ng-show="!category">
                  <input type='text' placeholder="{{autoComplete}}" class="user-query-auto"></input>
                  <input type='text' class="user-query" id="category-query" ng-model="searchCategory" ng-keyup="autoFill(searchCategory)" maxlength="40" autofocus placeholder="Start by typing the product caterory here!"></input>
                  <button class="hidden" type='submit'></button>
                </form>

                <form ng-submit="getGraph()" class="form-inline " autocomplete="off" ng-show="category">
                  <!-- <input type='text' class="user-query" id="attributes-query" ng-model="attribute" maxlength="40" autofocus placeholder="What attributes are you looking for?"></input> -->
                  <button class="hidden" type='submit'></button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-12">
            <div class="brand"><img src="/img/logo.svg" id="top-logo"></div>
            <div id="chart-contain">

              <div ng-hide="topProducts" id="base_hype_container" style="margin:auto;position:relative;width:504px;height:400px;overflow:hidden;" aria-live="polite">
              </div>

              <div ng-show="topProducts" id="container">
                <!-- <img class="img-responsive graph" src="img/chart-noborder.svg"> -->
              </div>
              <div id="left-top-label" class="chart-labels"><span class="hidden-md hidden-lg graph-label-text">PERFECT! </span><span class="hidden-xs hidden-sm graph-label-text" id="white-text">PERFECT! </span></div>
              <div id="left-midde-label" class="chart-labels"><img class="hidden-xs" src="/img/vert-line-arrow.svg" id="vert-line"></div>
              <div id="left-bottom-label" class="chart-labels"><span class="graph-label-text">JUST OK</span></div>
              <div id="bottom-left-label" class="chart-labels"><span id="no-float" class="graph-label-text">EXPENSIVE </span></div>
              <div id="bottom-middle-label" class="chart-labels"><img class="hidden-xs" src="/img/vert-line-arrow.svg" id="horiz-line"></div>
              <div id="bottom-right-label" class="chart-labels"><span class="graph-label-text">CHEAP! </span></div>
            </div>

            <div class="hidden-xs hidden-sm" id="slider-container-md" ng-if="products"><span class="info-title">Adjust Price Range</span>
              <!-- Add Slider Feature -->
              <rzslider 
              rz-slider-model="slider.min"
              rz-slider-high="slider.max"
              rz-slider-options="slider.options">
            </rzslider>
            <!-- Add Slider Feature -->
            </div>
            <div class="info-panel"><span class="info-title">How does this work?</span><span class="card-text-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum vitae ipsum sed blandit. Morbi quis eleifend tellus. Sed feugiat euismod elit, et ultrices velit semper rhoncus. Curabitur purus libero, suscipit sed molestie et, dapibus vitae metus. Fusce ut blandit nisl. Fusce purus purus, sodales sed est efficitur, porttitor mollis sem. Integer eu vehicula purus. (LEARN MORE)</span></div>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-12 hidden-xs">
            <div class="header-block">

              <div id="query-input-contain">

                <span ng-show="category" class="active-category">{{category.name}} <sup class="categoryX" ng-click="newCategory()"> x</sup></span>

                <form ng-submit="getCategory(searchCategory)" class="form-inline " autocomplete="off" ng-show="!category">
                  <input type='text' placeholder="{{autoComplete}}" class="user-query-auto"></input>
                  <input type='text' class="user-query" id="category-query" ng-model="searchCategory" ng-keyup="autoFill(searchCategory)" maxlength="40" autofocus placeholder="Enter Category" required></input>
                  <button class="hidden" type='submit'></button>
                </form>

                <form ng-submit="getGraph(attribute)" class="form-inline " autocomplete="off" ng-show="category">
                  <input type='text' class="user-query" id="attributes-query" ng-model="attribute" maxlength="40" autofocus placeholder="What attributes are you looking for?"></input>
                  <button class="hidden" type='submit'></button>
                </form>
              </div>

              <div id="attributes-panel" ng-show="!category">
                <span class="attributes-label">Suggested: </span>
                <span class="tag" ng-repeat="cat in categoryNames" ng-click="getCategory(cat)">{{cat}}</span>
              </div>

              <!-- TODO: use this when suggested attributes poplulated dynamically -->
              
              <div id="attributes-panel" ng-show="category">
                <span class="attributes-label">Suggested: </span>
                <span class="tag" ng-repeat="att in attributes" ng-click="getGraph(att)">{{att}}</span>
              </div>

              <!-- TODO: use this when suggested attributes poplulated dynamically -->

              <div class="visible-sm-block slider-container-sm">
                <span id="slider-label-sm">Adjust Price Range</span>
                <img src="/img/slider-sm-placeholder.svg" id="placeholder-sm">
                <span class="slider-desc-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum vitae ipsum sed blandit. Morbi quis eleifend tellus. Sed feugiat euismod elit, et ultrices velit semper rhoncus. </span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" id="list-test">
    <div class="col-md-6 col-md-push-6">
      <div class="visible-sm-block" id="list-top-spacer-sm"></div>
      <div class="hidden-xs hidden-sm" id="list-top-spacer-md"></div>
      <div class="hidden-sm hidden-md hidden-lg" id="list-top-spacer-xs"></div>
      <div ng-show="!topProducts" class="list-container">
        <div ng-repeat="i in getPlaceholders(numOfPlacholders) track by $index" class="product-card-placeholder">
          <img src="img/card-placeholder.svg" alt="">
        </div>
      </div>
        <!-- <div class="product-card" ng-repeat="product in topProducts | limitTo: 10" data-id={{product.id}} ng-click="renderTest(product.id)"> -->



      <div ng-show="topProducts" class="list-container">
        <div class="product-card" ng-repeat="product in topProducts" data-id={{product.id}} ng-click="renderTest(product.id)">
          <div class="card-thumbnail" id={{product.id}}><img src={{product.info.imgLarge[0]}} class="product-thumbnail"></div>
          <div class="card-description">
            <div class="card-title-block">
              <span class="card-title" ng-if="product.name.length > 60">{{product.name.substring(0,60)}}...</span>
              <span class="card-title" ng-if="product.name.length <= 60">{{product.name}}</span>
              <span class="card-sub-title">Price: ${{product.xR}} Rating: {{product.rating.toFixed(2)}}</span>
              <span class="card-text-description">
                <ul>
                  <!-- <li ng-repeat="feature in product.info.features">{{feature}}</li> -->
                  <li> {{(product.info.features[0].length > 70) ? product.info.features[0].substring(0,70) : product.info.features[0]}}<span ng-if="product.info.features[0].length > 70">...</span></li>
                  <li> {{(product.info.features[1].length > 70) ? product.info.features[1].substring(0,70) : product.info.features[1]}}<span ng-if="product.info.features[1].length > 70">...</span></li>
                  <!-- <li>> {{(product.info.features[3].length > 100) ? product.info.features[3].substring(0,100) : product.info.features[3]}}<span ng-if="product.info.features[3].length > 100">...</span></li> -->
                </ul>
              </span>
            </div>
          </div>
        </div>
      </div>

        <!-- <div id="top-product" class="product-card">
          <div class="card-thumbnail"><img src="img/prod_placeholder.jpeg" class="product-thumbnail"></div>
          <div class="card-description">
            <div class="card-title-block"><span class="card-title">Sony MDX-3400 Headphones </span><span class="card-sub-title">PRICE: $299.99&nbsp; AVG: 4/5 STARS </span><span class="card-text-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum vitae ipsum sed blandit. Morbi quis eleifend tellus. Sed feugiat euismod elit, et ultrices velit semper rhoncus. Curabitur purus libero, suscipit sed molestie et, dapibus vitae metus. Fusce ut blandit nisl. Fusce purus purus, sodales sed est efficitur, porttitor mollis sem. Integer eu vehicula purus. </span></div>
          </div>
        </div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
        <div class="product-card"></div>
      </div> -->
    </div>
  </div>
</div>
