

<!--  -->
<form ng-submit="getCategory()" class="form-inline " autocomplete="off" ng-show="!category">
  <input type='text' placeholder="{{autoComplete}}" class="user-query-auto"></input>
  <input type='text' class="user-query" id="category-query" ng-model="searchCategory" ng-keyup="autoFill(searchCategory)" maxlength="40" autofocus placeholder="Start by typing the product caterory here!"></input>
  <button class="hidden" type='submit'></button>
</form>

<form ng-submit="getGraph()" class="form-inline " autocomplete="off" ng-show="category">
  <!-- <input type='text' placeholder="{{autoComplete}}" id="user-query-auto" ></input> -->
  <input type='text' class="user-query" id="attributes-query" ng-model="attribute" maxlength="40" autofocus placeholder="What attributes are you looking for?"></input>
  <button class="hidden" type='submit'></button>
</form>




<!--  -->
<div class="col-md-12">
  <div id="chart-contain">
    <!-- <img class="img-responsive graph" src="/img/graph-placeholder.png"> -->
    <!-- <highchart id="chart1" config="chartConfig"></highchart> -->
    <div id="container"></div>
