.hidden{
  display: none;
}

path, rect {
  transition: all 0.5s;
}

// input[type=text] {
// 	border: none;
// 	background: transparent;
// }

.overlayWrapper {
	position: relative;
}

.overlayWrapper button {
	display: none !important;
}

.categoryOverlay1 {
	color: blue;
	z-index: 1;
	position: absolute;
	top:0;
	left: 0;
}

.categoryOverlay2 {
	z-index: 2;
	position: absolute;
	top:0;
	left: 0;
}

//MAKE PLACEHOLDER TEXT ON MAIN INPUT WHITE
::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.49) !important;
}
::-moz-placeholder{
  color: rgba(255, 255, 255, 0.49) !important;
}
:-ms-input-placeholder{
  color: rgba(255, 255, 255, 0.49) !important;
}
:-o-input-placeholder{
  color: rgba(255, 255, 255, 0.49) !important;
}

@media (min-width:768px){
  .user-query{
    height:100px;
    width:100%;
    // JT top font-size from 34px to 50px
    font-size:50px;
    // JT top font-size from 34px to 50px
    border:0px;
    background-color:transparent;
    font-family:'Open Sans', sans-serif;
    color:white;
    outline:none;
    position: absolute;
    // JT top from 0 to 80
    top: 80px;
    // JT top from 0 to 80
    z-index: 2;
    overflow: hidden;
    resize: none;
  }

  .user-query-auto{
    height:100px;
    width:100%;
    // JT top font-size from 34px to 50px
    font-size:50px;
    // JT top font-size from 34px to 50px
    border:0px;
    background-color:transparent;
    font-family:'Open Sans', sans-serif;
    color:white;
    outline:none;
    z-index: 1;
    position: absolute;
    // JT top from 0 to 80
    top: 80px;
    // JT top from 0 to 80
    overflow: hidden;
    resize: none;
  }
}

@media (min-width:768px) and (max-width: 991px){
  .user-query{
    top: 29px;
  }
  .user-query-auto{
    top: 29px;
  }
}

@media (max-width:767px){


  .user-query{
    height: auto;
    width: 100%;
    border: 0px;
    background-color: transparent;
    color: white;
    outline: none;
    z-index: 2;
    // overflow: hidden;
    // resize: none;
    font-size: 30px;
    position: absolute;
    left: 0px;
    top: 25px;
    display: block;
  }

  .user-query-auto{
    height: auto;
    width: 100%;
    border: 0px;
    background-color: transparent;
    color: white;
    outline: none;
    z-index: 1;
    // overflow: hidden;
    // resize: none;
    font-size: 30px;
    top:25px;
    position: absolute;
    left: 0px;
    display: block;
  }


}








// JT 'add' #attriubtes-query
@media (min-width:992px) {
  #attributes-query {
    position: absolute;
    top: 100px;
    font-size:34px;
  }
}
// for desktop
@media (max-width:991px) {
  #attributes-query {
    position: absolute;
    top: 49px;
    font-size:34px;
  }
}





// JT 'add' #attriubtes-query

.product-card-placeholder{
	margin-top: 37px;
	position: relative;
}

.product-card-placeholder img {
	width: 100%;
}

span.card-text-description > ul{
  padding-left: 0px;
}

span.card-text-description > ul > li{
  list-style-type: none;
  margin-bottom: 4px;
}

// JT 'add' .categoryX and .categroyX:hover
sup.categoryX {
  color: gray;
}

sup.categoryX:hover {
  cursor: pointer;
  color: white;
}
// JT 'add' .categoryX and .categroyX:hover






//-------------------------------------------------------------------


#header-bg-logo{
  position:absolute;
  width:56%;
}

.header-bg{
  overflow:hidden;
  position:absolute;
  width:100%;
  height:300px;
}

img.header-gradient{
  width:120%;
  min-width:1440px;
}

body{
  background-color:white;
  // height:5000px;
}

img.graph{
  width:100%;
  background-color:white;
}

.header-block-mobile{
  width:100%;
}

//for tablet sm view
@media (max-width:991px) {
  .header-block{
    margin-top:35px !important;
    width:100%;
    height:204px;
  }
}

.header-block{
  // JT margin-top from 85 to 200
  margin-top:90px;
  // JT margin-top from 85 to 200
  width:100%;
  height:204px;
}

.logo-block-mobile{
  padding-left:0px;
  margin-left:-9px;
}

#brand-top-mobile{
  font-size:14px;
  color:white;
  letter-spacing:1.08px;
  margin-left:7px;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  display:inline-block;
  margin-top:2px;
}

#brand-top{
  font-size:21px;
  color:white;
  letter-spacing:1.08px;
  margin-left:7px;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  display:inline-block;
  margin-top:2px;
}

img#white-logo-mobile{
  margin-top:-2px;
  height:15px;
}

img#white-logo{
  margin-top:-2px;
  height:15px;
}

@media (min-width:768px){
  #query-input-contain-mobile{
    margin-top:2px;
    width:100%;
  }
}
@media (max-width:767px){
  #query-input-contain-mobile{
    margin-top:2px;
    width:100%;
    position: relative;
    height: 75px;
  }
}

@media (max-width:991px) {
}

#query-input-contain{
  margin-top:0px;
  height:90px !important;
  width:100%;
}


input#user-query-mobile{
  height:27px;
  width:100%;
  font-size:15px;
  border:0px;
  background-color:transparent;
  font-family:'Open Sans', sans-serif;
  color:white;
  outline:none;
}

@media (max-width:991px) {
  input#user-query{
    height:30px !important;
    font-size:25px !important;
    outline:none;
  }
}

input#user-query{
  height:75px;
  width:100%;
  font-size:33px;
  border:0px;
  background-color:transparent;
  font-family:'Open Sans', sans-serif;
  color:white;
  outline:none;
  padding:0px;
}



//XS
@media (max-width:767px) {
  div#chart-contain{
    width: 100%;
    height: 288px;
  }
}
//SM
@media (min-width:768px) and (max-width:991px) {
  div#chart-contain{
    position:relative;
    // margin-left:0px !important;
    // margin-bottom:0px !important;
    width: 343px;
    height: 343px;
    margin-bottom: 30px;
    background-color: black;
  }
}

//MD desktop
@media (min-width:992px) and (max-width:1199px){
  div#chart-contain{
    position:relative;
    // margin-left:49px;
    margin-bottom:30px;
    // JT add width and height
    width: 453px;
    height: 453px;
    // JT add width and height
  }
}

//LG desktop
@media (min-width:1200px){
  div#chart-contain{
    position:relative;
    // margin-left:49px;
    margin-bottom:30px;
    // JT add width and height
    width: 555px;
    height: 555px;
    // JT add width and height
  }
}

img#keys{
  position:absolute;
  height:539px;
  margin-left:-53px;
  margin-top:39px;
}

#side-keys-contain{
  margin-top:60px;
  height:503px;
  background-color:black;
}

div#left-top-label{
  position:absolute;
  top:0;
  left:-51px;
}

#left-midde-label{
  position:absolute;
  top:50%;
  left:-15px;
}

#left-bottom-label{
  position:absolute;
  left:-45px;
  bottom:0px;
}

#bottom-left-label{
  position:absolute;
  left:0px;
  bottom:-22px;
}

div#bottom-middle-label{
  position:absolute;
  left:50%;
}

div#bottom-right-label{
  position:absolute;
  bottom:-22px;
  right:0px;
}

img#vert-line{
  position:absolute;
  top:-102px;
}

span.graph-label-text{
  font-size:7px;
  letter-spacing:1px;
  font-family:'Open Sans', sans-serif;
  font-weight:700;
	color:rgb(132,132,132);
	font-size:8px;
	float:right;
}

#white-text{
  color:rgba(255,255,255,0.83);
}

#no-float{
  float:none;
}

img#horiz-line{
  transform:rotate(90deg);
  position:absolute;
  bottom:-121px;
}

// @media (max-width:767px) {
//   div#container{
//     margin-top:0px !important;
//   }
// }
//
// @media (max-width:991px) {
//   div#container{
//     margin-top:12px;
//   }
// }
// @media (min-width:991px) {
//   div#container{
//     width: 100%;
//     height: 100%;
//   }
// }

.chart-container-style {
  border:1px solid #D8D8D8;
  box-shadow:4px 4px 21px rgba(0,0,0,0.09);
}

div#container {
  width: 100%;
  height: 100%;
}

// div#test1{
//   background-color:black;
//   height:100px;
// }

#list-top-spacer-md{
  height:38px;
}

#list-top-spacer-xs{
  height:150px;
}

.list-container{

}

div#tesmptest{
  background-color:grey;
  height:1000px;
  margin-top:100px;
}



@media (min-width:768px){
.product-card{
  height:228px;
  background-color:rgb(234,233,233);
  margin-top:37px;
  position:relative;
  border:1px solid #D8D8D8;
  box-shadow:2px 2px 13px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.card-thumbnail{
  height:226px;
  width:226px;
  display:inline-block;
  overflow: hidden;
}

img.product-thumbnail{
  width:140%;
  height:auto;
  margin-left: -20%;
  margin-top: -20%;
  border:0px !important;
}

.card-description{
  display:inline-block;
  height:100%;
  top:0;
  position:absolute;
  padding-top:6px;
  padding-left:10px;

}

span.card-title{
  color:#585858;
  font-size:16px;
  font-family:'Open Sans', sans-serif;
  display:block;
  font-weight:600;
}

.card-sub-title{
  font-size:9px;
  color:grey;
  display:block;
  margin-top:-1px;
}

span.card-text-description{
  display:block;
  margin-top:10px;
  font-size:11px;
  color:rgb(109,109,109);
  padding-right:15px;
}

}


@media (max-width:767px){
  .product-card{
    height: 310px;
    background-color: #eae9e9;
    margin-top: 20px;
    position: relative;
    border: 1px solid #D8D8D8;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.08);
    overflow: hidden;
  }

  .card-thumbnail{
    height: 160px;
    width: 100%;
    display: block;
    overflow: hidden;
  }

  img.product-thumbnail{
    width: 100%;
    height: auto;
    margin-top: -30%;
    border: 0px !important;
  }

  .card-description{
    display: block;
    // padding-top: 6px;
    // padding-left: 10px;
    padding: 10px;
  }

  span.card-title{
    color: #585858;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    display: block;
  }

  .card-sub-title{
    font-size: 9px;
    color: grey;
    display: block;
    margin-top: 2px;
  }

  span.card-text-description{
    display: block;
    margin-top: 9px;
    font-size: 11px;
    color: #6d6d6d;
  }

  // span.card-description ul {
  //   padding: 0px;
  // }
}






div#sticky-test{
  position:fixed;
  top:0;
  left:0;
  z-index:2;
  width:100%;
}

@media (max-width:767px){
  div#sticky-test{
    position:relative;
  }
}

div#list-test.row{
  margin-top:262px;
  z-index:1;
}

.override-height{
  height:0px;
}

@media (max-width:991px) {
  span.active-category{
    font-family:'Open Sans', sans-serif;
    color:rgba(255,255,255,0.47);
    font-size:18px;
    font-weight:300;
    display:block;
  }
}

span.active-category{
  font-family:'Open Sans', sans-serif;
  color:rgba(255,255,255,0.47);
  font-size:23px;
  font-weight:300;
  display:block;
  // JT 'add' position: absolute and top: 90px
  // position: absolute;
  // top: 90px;
  // JT 'add' position: absolute and top: 90px
}

@media (max-width:991px) {
  div.brand{
    height:auto !important;
  }
}

@media (min-width:992px){
  div.brand{
    height:90px;
  }
}
@media (max-width:767px){
  div.brand{
    background-color: black;
    padding-bottom: 15px;
  }
  span#tagline{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: white;
    font-style: italic;
    display: inline-block;
    top: 9px;
    position: relative;
    letter-spacing: 1px;
    margin-left: 6%;
  }
}

@media (max-width:991px) {
  img#top-logo{
    margin-top:11px !important;
    margin-left:0px !important;
    height:25px;
  }
}
@media (max-width:767px) {
  img#top-logo{
    margin-top:15px !important;
    margin-left:15px !important;
    height:24px;
  }
}

@media (min-width: 992px){
  img#top-logo{
    margin-top:29px;
  }
}

div#attributes-panel{
  margin-top:-4px;
  overflow:hidden;
  height:109px;
}

span.tag{
  background-color:rgb(251,250,250);
  border-radius:4px;
  padding-left:7px;
  padding-right:7px;
  padding-top:5px;
  padding-bottom:5px;
  color:rgb(105,105,105);
  font-family:'Open Sans', sans-serif;
  font-weight:600;
  font-size:12px;
  box-shadow:1px 1px 4px rgba(1,1,1,0.17);
  margin-right:10px;
  margin-bottom:10px;
  display:inline-block;
}

// JT 'add' span.tag:hover
span.tag:hover {
  cursor: pointer;
  background-color: rgb(105,105,105);
  color: rgb(251,250,250);
}
// JT 'add' span.tag:hover

div.attributes-label{
}

span.attributes-label{
  display:block;
  margin-top:6px;
  color:rgba(255,253,253,0.87);
  font-size:11px;
  margin-right:5px;
  margin-bottom:7px;
  border-top:1px solid rgba(255,255,255,0.2);
  padding-top:9px;
}

@media (max-width:991px) {
  div.info-panel{
    display:none;
  }
}

div.info-panel{
  margin-top:13px;
  max-height:200px;
  overflow-y:hidden;
}

span.info-panel-text{
  font-size:12px;
}

span.info-title{
  color:grey;
  display:block;
}

@media (max-width:991px) {
  .chart-labels{
    display:none;
  }
}

div#list-top-spacer-sm{
  height:120px;
}

div.slider-container-sm{
  height:153px;
  background-color:#ededed;
  margin-top:18px;
  border:1px solid rgb(216,216,216);
}

span#slider-label-sm{
  color:rgb(94,94,94);
  display:block;
  margin-top:10px;
  margin-left:12px;
  font-size:11px;
}

img#placeholder-sm{
  width:94%;
  margin-top:7px;
  margin-left:9px;
}

span.slider-desc-sm{
  color:rgb(109,109,109);
  font-size:10px;
  display:block;
  padding-left:16px;
  padding-right:16px;
  margin-top:5px;
}

div#slider-container-md{
  height:100px;
  margin-top:55px;
}

img#range-slider-placeholder{
  width:92%;
  margin-top:25px;
  margin-left:11px;
}
